.header-main {
  display: flex;
  justify-content: space-between;

  margin: 1em 0 0.5em 0;
}

.header-user {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.header-logout {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 0 0 1em;
}
