/* .main-container {
  background-color: red;
  display: inline-flex;
  flex-direction: row;
} */

/* .cover{
  background-color: teal;
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  z-index: 999;
} */
