.progress-section {
  width: 55%;
  padding: 1em;
}

.progress-task-card {
  margin: 1.5em auto;
}

.progress-task-text {
  display: flex;
  justify-content: flex-start;
  margin-left: 1em;

}

.progress-bar-task {
  background-color: green;
  border-radius: 2em;
}

.progress-task-reps {
  display: flex;
  justify-content: flex-end;
  margin-right: 1em;
}