.task-card.card {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  margin: 0.8em auto;
  padding: 0;
  width: 100%;
  max-width: 700px;
  border: none;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0 0.5em 1em 0.4em rgba(0, 0, 0, 0.103);
  /* min-height: px; */
  /* max-height: 200px; */
}

div.task-days-to-go {
  font-size: 13px;
  max-height: 20px;
  /* background-color: grey; */
}

div.task-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* max-height: 30px; */
  /* background-color: lightgreen; */
  /* font-size: 12px; */
}

.card-header {
  background-color: rgba(0, 128, 128, 0.219);
}

div.task-text {
  /* background-color: lightgreen; */
  margin-left: 8px;
  /* margin: 1em; */
  /* display: flex; */
  /* align-items: center; */
}

div.task-counter {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  /* background-color: red; */
  /* width: 100; */
  min-width: 50px;
  /* padding: 0.5em; */
}

div.task-reps {
  color: rgb(8, 3, 3);
  max-height: 100%;
  padding-left: 10px;
}

button.delete-btn {
  font-size: 0.73em;
  /* height: 20px; */
  align-items: center;
  border: 0px;
  /* background-color: lightseagreen; */
}

button.delete-btn:hover {
  background-color: #00808034;
}

.complete-button {
  background-color: black;
}

.options-button {
  color: #008080;
  border-color: #008080;
  width: 100%;
  padding: 0px;
  margin-bottom: 10px;
}

.btn-outline-danger:hover {
  color: white;
  border-color: #00808063;
  background-color: #00808044;
}

.btn-outline-danger:focus {
  box-shadow: 0 0 0 0.25rem rgba(223, 223, 223, 0.5);
}

/* .btn-secondary {
  background-color: #008080;
}

.btn-secondary:hover {
  background-color: #ff7843;
  border-color: #ff7843;
} */
