.task-list-card.card {
  /* display: flex;
  flex-direction: column; */
  /* justify-content: center; */
  margin: 1em auto;
  height: 100%;
  width: 95%;
  max-width: 850px;
  padding: 1em;
  background-color: #eeeeee;
  border-radius: 1em;
  border: none;
}

.task-list-header {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.task-list-header-spacer {
  height: 40px;
  width: 70px;
  border-radius: 2em;
  background-color: none;
}

.task-list {
  margin: auto;
  width: 90%;
}

.task-message {
  padding: 5rem;
}
