* {
  text-align: center;
  box-sizing: border-box;
  color: rgb(11, 51, 66);
}

.nav-link {
  color: #364d4d;
}

.nav-link:hover {
  color: #ff7843a2;
}

#root {
  background-color: rgba(0, 128, 128, 0.123);
}

.tasks-page-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.navbar-button .me-2 {
  background-color: teal;
}

a {
  color: teal;
  text-decoration: none;
}

.btn-secondary {
  text-align: left;
  background-color: #5d8181;
}

.btn-secondary:hover {
  background-color: #ff7843a2;
  border-color: #ff7843;
}

header {
  margin-left: 50px;
  width: 100%;
  margin-right: 50px;
}

.navbar-light .navbar-brand {
  color: rgb(11 51 66);
}
