$dark-ll: #6c868f;
$dark: #0b3342;
$placeholder-color: rgb(168, 199, 199);

$orange-ll: rgb(225, 198, 187);
$orange-l: #dcb3a1;
$orange: #dba38b;
$orange-d: rgb(223, 151, 122);

$yellow: rgb(236, 227, 122);

$teal-ll: rgb(222, 222, 222);
$teal: teal;

$light-d: rgb(227, 249, 249);
$light: rgb(239, 250, 250);
$light-l: rgb(246, 246, 246);
$light-ll: rgb(255, 255, 255);

$modal-overlay-color: rgba(0, 0, 0, 0.709);